﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Undirected Graph</title>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/vis.min.js"></script>
    <script type="text/javascript" src="~/Scripts/site.js"></script>
    <link href="~/Content/vis.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
